* {
    box-sizing: border-box;
    background-color: white;
  }
  html, body{
    height: 100%;
  }
  table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
  }
  .button {
    width: 50%;
    background-color: #333; /* Green */
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 12px;
  }
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  
  .container{  
    text-align: center;  
    font-size: 20px;
    width: 100%;  
    padding-top: 15px;  
    padding-bottom: 15px;
    }  
  
  .flex-container{
      display: flex;
      background-color: white;
      height: 100%;
    font-family: sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .left-column, .right-column{ 
     display: flex;
     flex-direction: row;
  }
  .left-column{
      background-color: #ffffff;
      width: 50%;
  }
  .right-column{
      background-color: #ffffff;
      width: 50%;
  }
  .link-wrap-left, .link-wrap-right{
    display: flex;
  } 
  .link-wrap-left a, .link-wrap-right a{
      font-size: 30px;
      font-weight: 600;
    color: white;
  }
  @media only screen and (max-width: 1024px){
     .flex-container{
         flex-direction: column;
     }
     .left-column, .right-column{
         width: auto;
         height: 50%;
     }
     .link-wrap-left, .link-wrap-right{
         width: 100%;
     }
  }
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  input{
    border-color: white;
    border-width:0px;
border:none;
width: 100%;
  }