
<div class="row">
  <div class="column"><br>AQUI PUEDE IR LO QUE MUEVE EL USER</div>
  <div class="column"> <br>AQUI PUEDE IR EL DIAGRAMA</div>
</div>
<div class="flex-container">
  <div class="left-column">
    <br><br>
    TABLA
    <br>
    BOTON CALCULAR
    <br>
    <br><br>
    <br><br>
    <br>
    LA SOL OPTIMA ES...
  </div>
  <div class="right-column">
    <ngx-graph
      class="chart-container"
      [view]="[500, 550]"
      [links]="[
        {
          id: 'a',
          source: 'first',
          target: 'second',
          label: '500m'
        }, {
          id: 'b',
          source: 'first',
          target: 'c1',
          label: '100m'
        }, {
          id: 'd',
          source: 'first',
          target: 'c2',
          label: '200m'
        }, {
          id: 'e',
          source: 'c1',
          target: 'd',
          label: '150m'
        }, {
          id: 'f',
          source: 'c1',
          target: 'd',
          label: '100m'
        }
      ]"
      [nodes]="[
        {
          id: 'first',
          label: 'MI CASA'
        }, {
          id: 'second',
          label: 'Pizza'
        }, {
          id: 'c1',
          label: 'Tacos'
        }, {
          id: 'c2',
          label: 'ESCUELA'
        }, {
          id: 'd',
          label: 'lugarsillo X'
        }
        
      ]"
      
      layout="dagreCluster"
    >
    <!--TEMPLATE PARA LAS FLECHAS-->
      <ng-template #defsTemplate>
        <svg:marker id="arrow" fill="red" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
        </svg:marker>
      </ng-template>
      
    <!--TEMPLATE PARA NODOS-->
      <ng-template #nodeTemplate let-node>
        <svg:g class="node">
          <svg:rect
            [attr.width]="node.dimension.width"
            [attr.height]="node.dimension.height"
            [attr.fill]="node.data.color"
          />
          <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
            {{node.label}}
          </svg:text>
        </svg:g>
      </ng-template>
    <!--TEMPLATE PARA LAS LINEAS-->
      <ng-template #linkTemplate let-link>
        <svg:g class="edge">
          <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
          <svg:text class="edge-label" text-anchor="middle">
            <textPath
              class="text-path"
              [attr.href]="'#' + link.id"
              [style.dominant-baseline]="link.dominantBaseline"
              startOffset="50%"
            >
              {{link.label}}
            </textPath>
          </svg:text>
        </svg:g>
      </ng-template>
    </ngx-graph>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
